body {
    background:url("https://media.giphy.com/media/lZ3zno2jdkh5S/giphy.gif") repeat-y 100% 100% fixed;
    height:100%;
    width:100%;
}


.map{
    width:400px;
    height:500px;
    

}
.image{
    width:100%;
    height:100%;
}